:root {
    --yellow: #ffe8b6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--yellow);
    transition: all 1s linear;
}

body * {
    font-family: 'Lato', sans-serif;
}

.align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    text-align: center;
}

.centerm {
    display: block;
    margin: 40px auto;
}

.imgs {
    width: 200px;
    user-select: none;
}

.imgm {
    width: 640px;
    user-select: none;
}

#start {
    font-size: 50px;
    color: #fff;
    user-select: none;
    cursor: pointer;
    transition: all .1s linear;
}

#start:hover {
    text-shadow: 0 0 20px #fff;
}

.white {
    color: white;
}